@model PrezentacjaAF.Models.SlideViewModels.CreateEditViewModel

@{
    ViewData["Title"] = Localizer["Edit slide"];
}

<h2>@Localizer["Edit slide"]</h2>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="row">
            <div class="col-xs-12 form-group">
                <label asp-for="Title" class="col-md-1 control-label"></label>
                <div class="col-md-11">
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 form-group">
                <label asp-for="Description" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-xs-6 form-group">
                <label asp-for="Notice" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="Notice" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Notice" class="text-danger"></span>
                </div>
            </div>
        </div>
        <input asp-for="SlideLength" type="hidden" form-control" />
        <div class="row">
            <div class="col-xs-6 form-group">
                <label asp-for="SortOrder" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="SortOrder" type="number" class="form-control" />
                    <span asp-validation-for="SortOrder" class="text-danger"></span>
                </div>
            </div>
        </div>
        <input asp-for="PhotoPath" type="hidden" />
        <input asp-for="MusicPath" type="hidden" />
        <div class="row">
            <div class="col-xs-6 form-group">
                <label asp-for="PhotoFile" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input type="file" name="PhotoFile" class="form-control" accept="image/jpeg, image/png" />
                    <span asp-validation-for="PhotoFile" class="text-danger"></span>
                    @if (!String.IsNullOrEmpty(Model.PhotoPath))
                    {
                        <img src="\uploads\photos\@Model.PhotoPath" class="img-thumbnail" style="width:150px; height:auto;" />
                    }
                </div>
            </div>
            <div class="col-xs-6 form-group">
                <label asp-for="MusicFile" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input type="file" name="MusicFile" id="MusicFile" class="form-control" accept="audio/mpeg" />
                    <span asp-validation-for="MusicFile" class="text-danger"></span>
                    <audio id="audio" controls>
                        <source src="\uploads\music\@Model.MusicPath" />
                    </audio>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 form-group">
                <label asp-for="Section" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="SectionId" class="form-control" asp-items="ViewBag.Section"></select>
                    <span asp-validation-for="SectionId" class="text-danger"></span>
                </div>
            </div>
        </div>     
        <div class="row">
            <div class="col-xs-6 form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Localizer["Save"]" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
@section Scripts{
<script src="https://cloud.tinymce.com/stable/tinymce.min.js?api_key=sxn3c5fbdrt1e2nbo1ews67t0k8jha5n0w5pm81yiwi7vzl7"></script>
<script>tinymce.init({ selector: 'textarea' });</script>
    <environment names="Staging,Production">
        <script src="~/js/setSlideDuration.min.js" asp-append-version="true"></script>
    </environment>
    <environment names="Development">
        <script src="~/js/setSlideDuration.js"></script>
    </environment>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
