<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest wykorzystywany przez proces publikowania/pakowania projektu sieci Web. Możesz dostosować zachowanie tego procesu
 poprzez edycję tego pliku MSBuild. Aby dowiedzieć się więcej o tym działaniu, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://prezentacjaaf.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>e141f1d2-0f75-4324-8775-6dfbc6db377e</ProjectGuid>
    <MSDeployServiceURL>prezentacjaaf.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>prezentacjaaf</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$prezentacjaaf</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ResourceId>/subscriptions/ed443e16-bfa9-47a8-99e3-d0f3898af150/resourcegroups/prezentacja-rg/providers/Microsoft.Web/sites/prezentacjaaf</ResourceId>
    <ContainerResourceId>/subscriptions/ed443e16-bfa9-47a8-99e3-d0f3898af150/resourcegroups/prezentacja-rg/providers/Microsoft.ContainerRegistry/registries/registry20170827020440</ContainerResourceId>
    <ContainerResourceName>registry20170827020440</ContainerResourceName>
    <ResourceGroup>prezentacja-rg</ResourceGroup>
    <Subscription>Visual Studio Dev Essentials</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20170827020440.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>