@model IEnumerable<PrezentacjaAF.Models.SlideViewModel>
@{
    ViewData["Title"] = "Home Page";
}
@section Js{
    <environment names="Staging,Production">
        <script src="~/lib/fullpage.js/jquery.fullPage.min.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/3.3.1/screenfull.min.js" asp-append-version="true"></script>
    </environment>
    <environment names="Development">
        <script src="~/lib/fullpage.js/jquery.fullPage.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/3.3.1/screenfull.js"></script>
    </environment>
}
@section Css{
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/fullpage.js/jquery.fullPage.min.css" asp-append-version="true" />
    </environment>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/fullpage.js/jquery.fullPage.css" />
    </environment>
}
<div id="fullpage">
    <div class="section" data-anchor="mainSection">
        <div id="buttonsContainer">
            <button id="slideshowButton"><i class="fa fa-play" aria-hidden="true"></i></button>
            <button id="muteButton"><i class="fa fa-music" aria-hidden="true"></i></button>
            <button id="fullscreenButton" onclick="screenfull.toggle();"><i class="fa fa-arrows-alt" aria-hidden="true"></i></button>
         </div>
        <label class="slideLength">
            <select id="slideLength">
                <option value="0">Domyślne</option>
                <option value="10000">10s</option>
                <option value="15000">15s</option>
                <option value="30000">30s</option>
                <option value="60000">1min</option>
            </select>
        </label>
        @foreach (var item in Model)
        {
            <div class="slide">
                <div id="slide-container">
                    <div id="photo-row">
                        <audio class="audio" data-autoplay data-src="/uploads/music/@(item.MusicPath)">
                            Your browser does not support the audio element.
                        </audio>
                        <input id="slideDuration" type="hidden" value="@item.SlideLength"/>
                        <img class="photo" data-src="/uploads/photos/@item.PhotoPath"/>
                        <div id="loader" style="display: block"></div>
                    </div>
                    <div id="data-row">
                        <h3>@item.Title</h3>
                        <p>@item.Description</p>
                    </div>
                </div>
            </div>
        }
     </div>
        <div id="slidesNav">
            @{int thumbIndex = 0;}
            @foreach (var item in Model)
            {
                <div><a href="#mainSection/@(thumbIndex)"><img id="slidethumb-@(++thumbIndex)" src="/uploads/photos/thumbs/@item.PhotoPath" /></a></div>
            }
        </div>
</div>
@section Scripts{
    <environment names="Staging,Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/slideshow.min.js" asp-append-version="true"></script>
    </environment>
    <environment names="Development">
        <script src="~/js/site.js"></script>
        <script src="~/js/slideshow.js"></script>
    </environment>
}
